*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body{
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: 'inter', sans-serif;
    background-image: url(img/fundo.png);
    background-size: cover;
    backdrop-filter: blur(0.15vw);
}

header{
    width: 100%;
    height: 12vh;
    flex: 0 0 12vh;
    background-color: rgba(255, 255, 255, 0.562);
    display: flex;
    align-items: center;
}

header img{
    position: absolute;
    max-width: 200px;
    height: auto;
}

header div{
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div nav a{
    padding: 1vw;
    cursor: pointer;
}

h1{
    width: auto;
    height: auto;
    text-align: center;
}

.hero{
    width: 100%;
    height: 88vh;
    flex: 1;
    min-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4vh 4vw;
}

.dados{
    width: auto;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 5vh;
    display: flex;
}

.cep{
    display: flex;
    gap: 3vh;
    align-items: center;
    padding: 1vw;
}
.cep input{
    width: 35vw;
    height: 5vh;
    border-radius: 1vw;
    border: none;
    background-color: rgba(185, 184, 184, 0.404);
}
.busca_cep, .busca_endereco{
    width: 10vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    background-color: rgb(98, 188, 230);
    border: none;
    cursor: pointer;
}
.endereco{
    display: flex;
    gap: 2vh;
    align-items: center;
    padding: 0.5vw;
}
.cep, .endereco {
    display: none;
}

.cep.ativo, .endereco.ativo {
    display: flex;
}

.endereco input{
    width: auto;
    height: 5vh;
    border-radius: 1vw;
    border: none;
    background-color: rgba(185, 184, 184, 0.404);
}
.historico_resultado{
    display: flex;
    gap: 15vh;
}
.resultado{
    width: 20vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 1vw;
}
.historico{
    width: 20vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 1vw;
}
.resultado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
}
.resultado p{
    font-weight: bold;
    font-size: 1.5vw;
}
